# ─── App ──────────────────────────────────────────────────────────────────────
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here   # openssl rand -base64 32

# ─── MongoDB ──────────────────────────────────────────────────────────────────
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/chindo?retryWrites=true&w=majority

# ─── Google OAuth ─────────────────────────────────────────────────────────────
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=your_jwt_secret_here             # openssl rand -base64 32
