# MongoDB
MONGODB_URI=mongodb://localhost:27017/chindo

# NextAuth
AUTH_SECRET=your-secret-key-here-change-in-production
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Telegram Group untuk Report
NEXT_PUBLIC_TELEGRAM_GROUP_URL=https://t.me/your-group-link